.footer {
  height: 100px;
  background-color: #cfd0d3;
  position: fixed;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}

.footer .brand {
  font-weight: bold;
  color: #47389c;
  padding: 10px 0;
}
