* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
